{% set pagetitle = '{totara:manage_metadata:page_title}'|trans %}
{% set frontpage_section = 'tmanage_metadata' %}
{% extends "base.twig" %}

{% block content %}
    {%- include "@totara/x_menu.twig" %}

    <h2>Manage Configured Service Providers</h2>
    <p><a href="{{ idp_logout }}">Trigger IdP Initiated Logout</a></p>

    <div id="existing-metadata">
        {% for key,sp in sp_list %}
        <h3>{{ sp.url }}</h3>
        <p>
            [
                <a href="{{ sp.delete }}" onclick="return confirm('This will remove this entry completely. Are you sure?')">Delete</a>
                |
                <a href="{{ sp.refresh }}">Refresh</a> ({{ sp.time }})
            ]
        </p>

        <ul>
            {% for entity in sp.entities %}
            <li>
                <strong>{{ entity.name }}</strong><br>
                <small>
                    <a href="{{ entity.manage }}">View Metadata</a> |
                    <a href="{{ entity.idp_login }}">IdP Login</a>
                </small><br>
                <small><em>{{ entity.entity_id }}</em></small>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>


    <form method="post" class="pure-form" enctype="multipart/form-data" action="#converted">
        <h2>Add New Service Provider</h2>
        <p>If you enter the same URL as an existing entry, you will override that entry.</p>
        <div class="pure-control-group">
            <div>
                <label for="metadata_url">URL to the Service Provider's Metadata</label><br>
                <input type="url" id="metadata_url" name="metadata_url" class="text edge" />
                <button class="pure-button pure-button-red pure-input-1-1">Add</button>
            </div>
        </div>
        <br>
        <div class="center">

        </div>
    </form>

{% endblock %}
